<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.soil_texture">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoilTexture">
        <activity android:name=".download"></activity>
        <activity android:name=".Result" />
        <activity android:name=".operation" />
        <activity android:name=".Camera" />
        <activity android:name=".Scanning" />
        <activity android:name=".tickpage" />
        <activity android:name=".Profile" />
        <activity android:name=".Lang" />
        <activity android:name=".rectop" />
        <activity android:name=".Sendotp" />
        <activity android:name=".Climate" />
        <activity android:name=".startnow" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>